* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / -1;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.menu a {
  display: block;
  padding: 10px;
  color: #222;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.0875rem;
}

.menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #222;
  transition: 300ms;
}

.menu a:hover::after {
  width: 100%;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display SC", Georgia, serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  color: #e54;
}

.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.animais p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.animais-lista {
  height: 360px;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista li {
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background-color: #fb5;
  border-left: 3px solid #faf6ed;
  border-right: 3px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.animais-desc {
  grid-column: 3;
}
.animais-desc section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.faq-lista dd {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.copyright {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background: #fb5;
}

.copyright p {
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 1rem;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .menu,
  .grid-section,
  .copyright {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }
  .animais-lista {
    grid-column: 1;
  }
  .faq-lista,
  .mapa,
  .dados {
    grid-column: 1 / 3;
  }
  .titulo {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0;
  }
  .copyright {
    margin-bottom: 0;
  }
}

/* JavaScript */

/* Tab Menu */
.js [data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.active {
  display: block !important;
}

[data-tab="content"] section.active.show-right {
  animation: showRight 0.5s forwards;
}

[data-tab="content"] section.active.show-down {
  animation: showDown 0.5s forwards;
}

@keyframes showRight {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Accordion List */

.js [data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt {
  cursor: pointer;
}

[data-anime="accordion"] dt::after {
  content: "⬎";
  margin-left: 10px;
}

[data-anime="accordion"] dt.active::after {
  content: "⬏";
}

[data-anime="accordion"] dd.active {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 300px;
  }
}

/* Scroll Animation */

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js [data-anime="scroll"].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
